@import "../../assets/scss/responsive.scss";


.page1 {
  background-color: #282c34;
  .content {
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;
    .bg {
      z-index: -1;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;

      video {
        object-fit: fill;
        max-width: unset;
        height: unset;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  .starwars-container {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .starwars {
    font-size: 36px;
    line-height: 1;
    white-space: nowrap;

    @include respond-to(mobile) {
      font-size: 26px;
    }
  }
}

.page2 {
  background-color: #1a1c1e;
  width: 100vw;
  height: 100vh;

  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
